:root {
  --rp-c-brand: #f05138cc;
  --rp-c-brand-light: #f26550cc;
  --rp-c-brand-lighter: #f26550cc;
  --rp-c-brand-dark: #ee3c20cc;
  --rp-c-brand-darker: #ee3c20cc;
  --rp-c-brand-rgb: 240, 81, 56;
  --rp-c-brand-tint: rgba(240, 81, 56, 0.16);
  --rp-home-hero-secondary-color: #f2655099;
  --rp-home-background-bg:
    radial-gradient(
      42.12% 56.13% at 100% 0%,
      rgba(240, 81, 56, 0.08) 0%,
      transparent 100%
    ),
    radial-gradient(
      42.01% 79.63% at 52.86% 0%,
      rgba(240, 81, 56, 0.16) 0%,
      transparent 100%
    );
  --rp-font-family-base:
    "Iosevka", "Maple Mono", Menlo, "Cascadia Code", "PingFang SC",
    "Microsoft YaHei";
  --rp-font-family-mono:
    "Iosevka", "Maple Mono", Menlo, "Cascadia Code", "PingFang SC",
    "Microsoft YaHei";
}
